.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.appLogo {
  height: 10vh;
  pointer-events: none;
}

.appHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pokemonDescription {
  word-wrap: break-word;
  padding: 5px;
}

.pokemonName {
  text-transform: capitalize;
}
